.wrap{
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 300px;
  padding: 0;

  * {
    box-sizing: border-box;
  }

  .edit {
    overflow: auto;
    width:50%;
    height: 100%;
    margin-top: 31px;
    resize: none;
    background-color: #fff;
    border: none;
    min-height: 400px;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:focus {
      outline: none;
    }
    font-size: 14px;
    line-height: 1.5;
    color:#555;
  }

  .preview {
    position: absolute;
    left:50%;
    top:0;
    bottom: 0;
    width:50%;
    overflow: auto;
    margin-top: 31px;
    padding:6px 12px;
    background-color: #f6f6f6;
    border-left: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
  } 
}
.resize{
  box-sizing: border-box;
  position:absolute;
  left: 50%;
  width: 120px;
  height: 4px;
  transform: translateX(-50%);
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-top:3px;
  overflow: hidden;
  cursor: row-resize;
}